*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    background: linear-gradient(to left, rgba(36, 13, 27, 0.945), rgb(255, 16, 243)); 
    overflow-x: hidden;
    

}
.hero-header{
    width:100%;
    height: 100%;
    min-height: 100vh;
}
.wrapper{
    width:1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width:45px;
    background-color: #007ced;
    border-radius: 50%;
    color:#fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    
}
.logo i a{
    text-decoration: none;
    color: black;
    text-align: center;
    justify-content: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color:#fff;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top:45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width:100%;
    height:3px;
    transition: 1.00;
    transition-property:  transform, opacity;

}
nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
     color:#e5e5e5;
     margin-right: 2.5rem;
}
nav .navlinks li a:hover{
    color: #0024f3;
}
.container {
    margin-top: 50px;
    height: 200px;
    width: 200px;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}
.container .hero-pic{
    width: 202px;
    height: 202px;
}
.container .hero-pic img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 2px solid rgb(255, 0, 255);
    transition: 0.5s;
    
}
.container .hero-pic img:hover{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid rgb(255, 0, 255);

}
.information{
    position: absolute;
    top: 180px;
    border: solid black 1px;
    height: 200px;
    width: 380px;
    margin-left: 250px;
    margin-top: -20px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20px;
    padding-right: 10px;
}
.information:hover{
    position: absolute;
    top: 180px;
    border: solid rgb(243, 243, 243) 1px;
    height: 202px;
    width: 382px;
    margin-left: 250px;
    margin-top: -20px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20px;
    padding-right: 10px;
}
.information label{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    
}
.information .head{
    text-align: center;
    position: absolute;
    top: -17px;
    left: 35px;
    width: 200px;
    height: 50px;
    font-size: large;
    color: white;
}
.introduce{
    border: solid black 1px;
    height: 400px;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: absolute;
    left: 800px;
    top:156px;
    border-radius: 20px;
    backdrop-filter: 20px;

}
.introduce:hover                                                                                                                                                        {
    border: solid black 1px;
    height: 400px;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: absolute;
    left: 800px;
    top:156px;
    border-radius: 20px;
    backdrop-filter: 20px;

}


.introduce label{
    color:white;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 90px;
    font-weight: bold;
    letter-spacing: 2px;
}
.introduce p{
    word-spacing: 8px;
    letter-spacing: 1px;
    color: white;
}
.hubby{
    border: solid 1px black;
    width: 382px;
    height: 150px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 20px;
   margin-left:250px;
   margin-top: 70px;
   border-radius: 20px;
}
.hubby:hover{
    border: solid 1px rgb(255, 255, 255);
    width: 382px;
    height: 150px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 20px;
   margin-left:250px;
   margin-top: 70px;
   border-radius: 20px;
}
.hubby .hubby1{
    color: white;
    position: absolute;
    left:460px;
    top: 384px;
}
.hubby .hubby1 label{
    font-weight: bold;
    letter-spacing: 2px;
}
.hubby p{
    color: white;
    word-spacing: 10px;
    letter-spacing: 2px;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-top: 50px;
  }
  
  .column img{
    border-radius: 50px;
    width: 250px;
    height: 220px;
  }
  .column img:hover{
    border-radius: 20px;
    width: 255px;
    height: 220px;
    transition: 0.5s;
  }
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
/* Respnosiv design & displaying navbar for small screen */
@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    /* for toggle button**/
    .click {
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top:12px
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin:0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top:0;
    }
    nav .navlinks{
        
        justify-content: center;
        text-align: center;
        position: absolute;
        top:-1px;
        right:-100%;
        bottom: 0;
        width: 40%;
        height: 40vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
    }

    nav .navlinks li a{
        margin-top: 10px;
        display: block;
        margin-bottom: 10px;
        text-align: center;
        justify-content: center;
    }
    nav .navlinks.open{
        right:0;
    }
}
/*gallery*/
.Gallery{
    text-align: center;
    margin-top: 90px;
    margin-bottom: -10px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    width: 100px;
    height: 20px;
    margin-left: 600px;
    border-bottom: 2px solid black;

}
/*for explanation*/
.container1{
    margin-top:  100px;
    text-align: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.container1 img{
    width: 400px;
    border-radius: 20px;
}
.container1 .explain{
    width: 500px;
    position: relative;
    left: 500px;
    top: -170px;
}
.container1 .explain p{
    color: white;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: large;
}/*
.container2{
 container for line 2
}*/
.container2 img{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    margin-left: 800px;
}
.container2 .explain1{
    width: 700px;
    position: relative; 
    left: 50px;
    top: -150px;
    
}
.container2 .explain1 p{
    color: white;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: large;
}
/*2nd*/
.container3 img{
    height: 210px;
    border-radius: 20px;
    margin-left: 50px;
    width: 250px;
}
.container3 .explain2{
    width: 850px;
    position: relative;
    left: 330px;
    top: -150px;
}
.container3 .explain2 p{
    color: white;
    font-size: large;
    word-spacing: 5px;
    letter-spacing: 2px;
}
.container4 img{

    width: 250px;
    position: relative;
    left: 950px;
    top: 160px;
    border-radius: 20px;
}
.container4 .explain3{
    height: 210px;
    height: 210px;
    border-radius: 20px;
    margin-left: 50px;
    width: 850px;
}
.container4 .explain3 p{
    color: white;
    font-size: large;
    word-spacing: 5px;
    letter-spacing: 2px;
}